body {
	background: #042A2B;
}
.form-group {
	position: absolute;
	text-align: center;
	width: 600px;
	height: 600px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.form-background {
	padding: 42px 0;
	background: #042A2B;
}
.form-controls {
	background: #fcfcfc;
	color: #48E5C2;
	padding: 67px 150px;
	box-shadow: 0px 4px 40px #000000;
	border-radius: 8px;
	margin-top: 111px;
}
@media only screen and (max-width: 600px) {
	.form-group {
		position: relative;
		width: 90%;
		margin: 21px auto;
	}
	.form-controls {
		padding: 5%;
	}
}
